<div
  class="flex items-center justify-between p-5 mb-5 bg-white shadow-lg rounded-xl dark:bg-secondaryDark"
>
  <h1 class="text-3xl font-semibold">List of Users</h1>
  <div>
    <label
      for="modal_add"
      class="px-4 py-3 text-white cursor-pointer bg-cBlue rounded-xl"
      >Add User</label
    >
  </div>
</div>

<div class="relative overflow-x-auto shadow-lg sm:rounded-xl">
  <table
    class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-opacity-30 dark:bg-secondaryDark dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3 text-center w-[10%]">No</th>
        <th scope="col" class="px-6 py-3 text-center">Name</th>
        <th scope="col" class="px-6 py-3 text-center">Email</th>
        <th scope="col" class="px-6 py-3 text-center">Role</th>
        <th scope="col" class="px-6 py-3 text-center w-[20%]">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of datas | paginate : config"
        class="bg-white border-b dark:bg-secondaryDark dark:border-gray-700"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-center text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ item.index }}
        </th>
        <td class="px-6 text-center py-2">{{ item.name }}</td>
        <td class="px-6 text-center py-2">{{ item.email }}</td>
        <td class="px-6 text-center py-2">
          <ng-container *ngFor="let role of role_colors">
            <span
              *ngIf="item.role_id === role.id"
              [class]="
                'px-2 py-1 text-xs text-white rounded-full ' + role.color
              "
              >{{ item.role.name }}</span
            >
          </ng-container>
        </td>

        <td class="px-6 text-center py-2">
          <div class="flex items-center justify-center gap-2">
            <label
              (click)="showData(item.id)"
              for="modal_edit"
              class="p-2 text-yellow-500 duration-300 bg-yellow-100 rounded-full cursor-pointer dark:bg-yellow-200 hover:scale-110 hover:bg-yellow-500 dark:hover:bg-yellow-400 hover:text-white dark:bg-opacity-30"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-edit"
                width="28"
                height="28"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"
                />
                <path
                  d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"
                />
                <path d="M16 5l3 3" />
              </svg>
            </label>
            <label
              (click)="showData(item.id)"
              for="modal_delete"
              class="p-2 text-red-500 duration-300 bg-red-100 rounded-full cursor-pointer dark:bg-red-200 hover:scale-110 hover:bg-red-500 dark:hover:bg-red-400 hover:text-white dark:bg-opacity-30"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-trash"
                width="28"
                height="28"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M4 7l16 0" />
                <path d="M10 11l0 6" />
                <path d="M14 11l0 6" />
                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
              </svg>
            </label>
          </div>
        </td>
      </tr>
      <tr
        *ngIf="datas?.length === 0"
        class="bg-white border-b dark:bg-secondaryDark dark:border-gray-700"
      >
        <th
          colspan="9"
          scope="row"
          class="px-6 py-4 font-medium text-center text-gray-900 whitespace-nowrap dark:text-white"
        >
          No data available.
        </th>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="datas?.length !== 0" class="flex items-center justify-center my-5">
  <pagination-template
    #p="paginationApi"
    [id]="config.id"
    (pageChange)="config.currentPage = $event"
  >
    <div class="flex gap-2 custom-pagination">
      <div class="pagination-previous">
        <button
          (click)="p.previous()"
          [disabled]="p.isFirstPage()"
          [ngClass]="
            p.isFirstPage()
              ? 'text-gray-400 '
              : 'text-gray-700  hover:scale-105 active:scale-100 hover:bg-blue-100'
          "
          type="button"
          class="inline-flex items-center justify-center gap-2 px-3 py-2 text-sm font-medium align-middle transition-all duration-300 bg-white rounded-md shadow-sm"
        >
          <svg
            class="w-3 h-3"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
            />
          </svg>
          Prev
        </button>
      </div>
      <div
        class="page-number px-2.5 cursor-pointer flex items-center rounded-lg hover:bg-slate-100"
        [ngClass]="
          p.getCurrent() === page.value
            ? 'font-semibold border-blue-100 border-4  '
            : ''
        "
        *ngFor="let page of p.pages"
        [class.current]="p.getCurrent() === page.value"
        (click)="p.setCurrent(page.value)"
      >
        <h1 *ngIf="p.getCurrent() !== page.value">
          {{ page.label }}
        </h1>
        <div *ngIf="p.getCurrent() === page.value">
          <h1>{{ page.label }}</h1>
        </div>
      </div>
      <div class="pagination-next">
        <button
          (click)="p.next()"
          type="button"
          [disabled]="p.isLastPage()"
          [ngClass]="
            p.isLastPage()
              ? 'text-gray-400'
              : 'text-gray-700  hover:scale-105 active:scale-100 hover:bg-blue-100'
          "
          class="inline-flex items-center justify-center gap-2 px-3 py-2 text-sm font-medium align-middle transition-all bg-white rounded-md shadow-sm"
        >
          Next
          <svg
            class="w-3 h-3"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
            />
          </svg>
        </button>
      </div>
    </div>
  </pagination-template>
</div>

<input type="checkbox" id="modal_add" class="modal-toggle" />
<div class="modal" role="dialog">
  <div class="max-w-4xl modal-box dark:bg-mainDark dark:text-white">
    <h3 class="text-lg font-bold">Create new user</h3>
    <form [formGroup]="formCreate" (submit)="createData()">
      <div class="grid grid-cols-1 gap-3 lg:grid-cols-2">
        <label class="w-full form-control">
          <div class="label">
            <span class="label-text dark:text-white">User name</span>
          </div>
          <input
            formControlName="name"
            type="text"
            placeholder="Type here"
            class="w-full input input-bordered dark:input-ghost"
          />
        </label>
        <label class="w-full form-control">
          <div class="label">
            <span class="label-text dark:text-white">User email</span>
          </div>
          <input
            formControlName="email"
            type="email"
            placeholder="Type here"
            class="w-full input input-bordered dark:input-ghost"
          />
        </label>
        <label class="w-full form-control">
          <div class="label">
            <span class="label-text dark:text-white">User password</span>
          </div>
          <input
            formControlName="password"
            type="password"
            placeholder="Type here"
            class="w-full input input-bordered dark:input-ghost"
          />
        </label>
        <label class="w-full form-control">
          <div class="label">
            <span class="label-text dark:text-white"
              >Password Confirmation</span
            >
          </div>
          <input
            formControlName="password_confirmation"
            type="password"
            placeholder="Type here"
            class="w-full input input-bordered dark:input-ghost"
          />
        </label>
        <label class="w-full mb-1 form-control">
          <div class="label">
            <span class="label-text dark:text-white">Role</span>
          </div>
          <select
            formControlName="role_id"
            class="w-full select select-bordered"
          >
            <option value="{{ item.id }}" *ngFor="let item of roles">
              {{ item.name }}
            </option>
          </select>
        </label>
      </div>
      <div class="flex justify-end gap-2 mt-5">
        <label
          for="modal_add"
          class="px-4 py-2 text-white bg-red-500 cursor-pointer rounded-xl"
          >Cancel</label
        >
        <label
          *ngIf="!formCreate.invalid"
          (click)="createData()"
          for="modal_add"
          class="px-4 py-2 text-white cursor-pointer bg-cBlue rounded-xl"
        >
          Save
        </label>
        <button
          *ngIf="formCreate.invalid"
          type="submit"
          class="px-4 py-2 text-white bg-cBlue rounded-xl"
        >
          Save
        </button>
      </div>
    </form>
  </div>
  <label class="modal-backdrop" for="modal_add">Close</label>
</div>

<input type="checkbox" id="modal_edit" class="modal-toggle" />
<div class="modal" role="dialog" *ngIf="data">
  <div class="max-w-4xl modal-box dark:bg-mainDark dark:text-white">
    <h3 class="text-lg font-bold">Edit User</h3>
    <form [formGroup]="formEdit" (submit)="updateData(data.id)">
      <div class="grid grid-cols-1 gap-3 lg:grid-cols-2">
        <label class="w-full form-control">
          <div class="label">
            <span class="label-text dark:text-white">User name</span>
          </div>
          <input
            formControlName="name"
            type="text"
            placeholder="Type here"
            class="w-full input input-bordered dark:input-ghost"
          />
        </label>
        <label class="w-full form-control">
          <div class="label">
            <span class="label-text dark:text-white">User email</span>
          </div>
          <input
            formControlName="email"
            type="email"
            placeholder="Type here"
            class="w-full input input-bordered dark:input-ghost"
          />
        </label>
        <label class="w-full form-control">
          <div class="label">
            <span class="label-text dark:text-white">User password</span>
          </div>
          <input
            formControlName="password"
            type="password"
            placeholder="Type here"
            class="w-full input input-bordered dark:input-ghost"
          />
        </label>
        <label class="w-full form-control">
          <div class="label">
            <span class="label-text dark:text-white"
              >Password Confirmation</span
            >
          </div>
          <input
            formControlName="password_confirmation"
            type="password"
            placeholder="Type here"
            class="w-full input input-bordered dark:input-ghost"
          />
        </label>
        <label class="w-full form-control">
          <div class="label">
            <span class="label-text dark:text-white">Old Password</span>
          </div>
          <input
            formControlName="old_password"
            type="password"
            placeholder="Type here"
            class="w-full input input-bordered dark:input-ghost"
          />
        </label>
        <label class="w-full mb-1 form-control">
          <div class="label">
            <span class="label-text dark:text-white">Role</span>
          </div>
          <select
            formControlName="role_id"
            class="w-full select select-bordered"
          >
            <option value="{{ item.id }}" *ngFor="let item of roles">
              {{ item.name }}
            </option>
          </select>
        </label>
      </div>
      <div class="flex justify-end gap-2 mt-5">
        <label
          for="modal_edit"
          class="px-4 py-2 text-white bg-red-500 cursor-pointer rounded-xl"
          >Cancel</label
        >
        <label
          *ngIf="!formEdit.invalid"
          (click)="updateData(data.id)"
          for="modal_edit"
          class="px-4 py-2 text-white cursor-pointer bg-cBlue rounded-xl"
        >
          Save
        </label>
        <button
          *ngIf="formEdit.invalid"
          type="submit"
          class="px-4 py-2 text-white bg-cBlue rounded-xl"
        >
          Save
        </button>
      </div>
    </form>
  </div>
  <label class="modal-backdrop" for="modal_edit">Close</label>
</div>

<input type="checkbox" id="modal_delete" class="modal-toggle" />
<div class="modal" role="dialog" *ngIf="data">
  <div class="modal-box dark:bg-mainDark dark:text-white">
    <h3 class="text-lg font-bold">Delete User</h3>
    <p class="mt-5">Are you sure want to delete this user?</p>
    <div class="flex justify-end gap-2 mt-5">
      <label
        for="modal_delete"
        class="px-4 py-2 text-red-500 duration-300 border border-red-500 cursor-pointer rounded-xl hover:bg-red-500 hover:text-white"
        >Cancel</label
      >
      <label
        (click)="deleteData(data.id)"
        for="modal_delete"
        class="px-4 py-2 text-white bg-red-500 cursor-pointer rounded-xl"
      >
        Delete
      </label>
    </div>
  </div>
  <label class="modal-backdrop" for="modal_delete">Close</label>
</div>
